extend layout_j
block content
	script.
		filePath="#{filePath}";

	form(action="config", method='POST', id='configForm', submit='preventDefault();')
		div(style="margin:20px")
		textarea(id="myConfigTextArea",name="myConfigTextArea",form_id="configForm" , rows=25, cols=150 )
		br
		a(href="#", onclick="submitData()").btn.btn-success Save
		a(href="#", style="margin-left:30px; visibility:#{activateView}", onclick='viewResume()').btn.btn-success View Result

	button(onclick="prettyPrint()" style="display:none") Pretty Print
