extend layout

block sidebar
  #contact.widget
    img(src="{{resume.pic_url}}").avatar
    table.table
      tr
        td
          b City: 
        td
          input(type="text", name="city", placeholder="city...")
      tr
        td
          b Phone: 
        td
          input(type="text", name="phone", placeholder="(XXX)-XXX-XXXX...")
      tr
        td
          b E-mail: 	    
        td
          input(type="text", name="email", placeholder="email...")
      tr	    
        td 
          b Immigration status: 
        td
          input(type="text", name="Imm_status", placeholder="Imm_status...")
      tr	    
        td  
          |URL for Document:
        td
          input(type="text", name="file_url", placeholder="file_url...")

block content
  form(action="/config", method="post")
    table.table
      colgroup
        col(class="col-md-2")
        col(class="col-md-7")
      tr
        td
          b Objective:
        td
          input_input(type="text", name="objective", style="width: 100%", placeholder="objective...")
      tr
        td
          b Summary:
        td
          textarea(name="summary", class="form-control", rows="5" , placeholder="':' - separated list ...")
      tr
        td
          b Technical Summary:
        td  
          table.table
            colgroup
              col(class="col-md-2")
              col(class="col-md-7")
              tr
                td
                  b Languages
                td
                  input_input(type="text", name="tech_summary_Languages", style="width: 100%", placeholder="Languages...")
              tr
                td
                  b Frameworks
                td
                  input(type="text", name="tech_summary_Frameworks", style="width: 100%", placeholder="Frameworks...", width="200px")
              tr
                td
                  b OS
                td
                  input(type="text", name="tech_summary_OS", style="width: 100%", placeholder="OS...")
              tr
                td
                  b Databases
                td
                  input(type="text", name="tech_summary_Databases", style="width: 100%", placeholder="Databases	...")
              tr
                td 
                  b Source Control
                td
                  input(type="text", name="tech_summary_Source_Control", style="width: 100%", placeholder="Source Control...")
    table.table
      tr
        td
          h3 Experience
          table.table
            tr
              td
                table.table
                  tr
                    td
                      table.table
                        tr
                          td.company 
                            b Company:
                            input(type="text", name="company-0", placeholder="company...")
                          td.dates.text-right 
                            b Dates:
                            input(type="text", name="date-0",  placeholder="date...")
                        tr
                          td.position
                            b Position: 
                            input(type="text", name="position-0",  placeholder="position...")
                          td.company_location.text-right 
                            b Company location:
                            input(type="text", name="location-0",  placeholder="location...")
                  tr
                    td.position_content
                      textarea(name="position_content-0", class="form-control", rows="5" , placeholder="':' - separated list ...")

    br
    button(type="submit").btn.btn-success SAVE