extend layout
block sidebar
  #contact.widget
    img(ng-src="{{resume.pic_url}}").avatar
    address
      b {{resume.city}}
    p
      b Phone: 
      a(href='tel:{{resume.phone}}')
      |{{resume.phone}}
    p
      b  E-mail: 
      a(href='mailto:{{resume.email}}') {{resume.email}}
    p 
      b Immigration status: 
      | {{resume.Imm_status}}
    a(href='{{resume.file_url}}' download).btn.btn-success Download

block content
  .objective
    h3 Objective
    p
      | {{resume.objective}}
  .summary    
    h3 Summary
    li(ng-repeat="x in resume.summary") {{x}}

  .tech_summary
    h3 Technical Summary
    table
      tr(ng-repeat="x in resume.tech_summary")
        td.tech_obj_name {{x.name}}
        td 
          |{{x.text}}
    
  #experience.experience
    h3 Experience
    table#t1.table
      tr(ng-repeat="one in resume.experience")
        td
          table#t2.table
            tr
              td
                table.table
                  tr
                    td.company {{one.company}}
                    td.dates.text-right {{one.date}}
                  tr
                    td.position {{one.position}}
                    td.company_location.text-right {{one.location}}         
            tr
              td.position_content
                li(ng-repeat="prj in one.projects")
                  | {{prj}}


    #education.education
      h3 Education
      table.table
        tr
          td {{resume.education.name}} 
          td {{resume.education.grad_date}}
          td {{resume.education.degree}}
          td {{resume.education.location}}
