doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/css/codemirror.css')
    link(rel='stylesheet', href='/css/magnific-popup.css')

    script(src="/script/jquery.min.js")
    script(src='/script/bootstrap.min.js')
    script(src='/script/main_j.js')
    script(src='/script/codemirror.js')
    script(src='/script/magnific-popup.js')

  body
    header.text-center(id='home')
      h1 Configuration
    .container
      .row
        .col-lg-12
          block content
    footer.text-center.footer
      .container
        ul
          li.pull-left
            |Copyright © 2016 
          li.pull-right
            |Running on node with Express, Jade and Stylus
    
 
