doctype
html
  head
    title #{title}
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-theme.min.css')
    script(src='/script/jquery.min.js')
    script(src='/script/bootstrap.min.js')
    script(src='/script/angular.min.js')
    script(src='/script/main.js')
    script(src='/script/controllers.js')

  body(ng-app='MyResume' ng-controller='ResumeCtrl')
    header.text-center(id='home')
      h1 {{resume.name}}
    nav#navbar.navbar.navbar-default.navbar-static-top(data-spy='affix', data-offset-top="90")
      ul.nav.navbar-nav
        li.active
          a(href='#home') Home
        li
          a(href='#experience') Experience
        li
          a(href='#education') Edication
        li
          a(href='#contact') Contact
      ul.nav(style="float: right")  
        li#setup
          a(href='config', style='display:#{isConfigured}', title="This button will be\n disabled after saving") Setup
    .container
      script.
        filePath="#{filePath}"
      .row
        .main-content.col-lg-8
          block content
        .sidebar.col-lg-4
          block sidebar
    footer.text-center.footer
      .container
        ul
          li.pull-left
            |Copyright © 2016 
          li.pull-right
            |Running on node with Express, Jade and Stylus 
