/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
html {
  min-height: 100%;
}
body {
  font-family: 'Georgia';
  background-color: #faf9f0;
  color: #444;
/* Margin bottom by footer height */
/* margin-bottom: 30px;*/
}
.affix {
  top: 0;
  width: 100%;
}
header {
  padding: 20px 10px 30px 10px;
  color: #fff;
/*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color: #08c;
  border-bottom: 1px solid #005f8f;
  text-shadow: 0px -1px 0px #005f8f;
}
.container {
  overflow: hidden;
}
.main-content {
  float: left;
}
.main-content p {
  margin-bottom: 10px;
}
.main-content .tech_obj_name {
  font-weight: bold;
  vertical-align: top;
  padding-right: 10px;
}
.main-content td {
  padding: 0 0 10px 0;
}
.main-content .summary li {
  padding-left: 10px;
  text-indent: -15px;
}
.main-content .experience table td {
  border-top: none;
}
.main-content .experience table .company {
  font-weight: bold;
}
.main-content .experience table .company_location,
.main-content .experience table .position {
  font-style: italic;
  padding-left: 40px;
}
.main-content .experience table .position_content {
  colspan: 2;
}
.main-content .experience table .position_content li {
  padding-left: 40px;
  text-indent: -15px;
}
.avatar {
  width: 300px;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
p {
  line-height: 1.2;
}
footer {
  width: 100%;
  margin: 10px auto;
  border-top: 1px dotted #ccc;
  padding-top: 5px;
  font-size: 13px;
  height: 30px;
}
footer ul li {
  display: inline;
}
.white-popup {
  position: relative;
  background: #fff;
  padding: 20px;
  width: auto;
  max-width: 300px;
  margin: 20px auto;
}
