/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #0088cc
background-color = #faf9f0

html
  min-height: 100%;

body
  font-family 'Georgia'
  background-color background-color
  color #444
  /* Margin bottom by footer height */
  /* margin-bottom: 30px;*/

.affix 
  top: 0
  width: 100%

header

  padding 20px 10px 30px 10px
  color #fff

  /*
   * Note the use of the `main-color`
   * variable and the `darken` function
   */
  background-color main-color
  border-bottom 1px solid darken(main-color, 30%)
  text-shadow 0px -1px 0px darken(main-color, 30%)

.container
  overflow hidden

.main-content 
  float left
  p
    margin-bottom 10px

  .tech_obj_name
    font-weight: bold
    vertical-align: top
    padding-right: 10px

  td
    padding: 0 0 10px 0

  .summary
    li
      padding-left: 10px
      text-indent: -15px
  
  .experience
    table
      td
        border-top:none
      .company
        font-weight: bold
      .company_location        
      .position
        font-style:italic
        padding-left: 40px
      .position_content
        colspan: 2 
        li          
          padding-left: 40px
          text-indent: -15px

.avatar
  width 300px
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  border-radius: 50%

p
  line-height 1.2

footer
  width 100%
  margin 10px auto
  border-top 1px dotted #ccc
  padding-top 5px
  font-size 13px
  height: 30px  

  ul 
    li 
      display: inline

.white-popup
  position: relative
  background: #FFF
  padding: 20px
  width: auto
  max-width: 300px
  margin: 20px auto